body {
  background-color: tan;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(142, 73, 73);
  font-size: 15px;
  line-height: 25px;
}

.container {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

h1 {
  color: rgb(142, 73, 73);
  font-size: 35px;
  line-height: 17px;
}

h2 {
  color: rgb(142, 73, 73);
  font-size: 17px;
  line-height: 10px;
}

a {
  text-decoration: none;
}

.list {
  display: inline-block;
  padding: 0;
  list-style: none;
  color: rgb(142, 73, 73);
}
.list > li > a {
  margin-left: 3px;
}

.blue-button {
  background-color: rgb(111, 111, 246);
  color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 4px, 5px, rgba(0, 0, 0, 0.07);
}

.blue-button:hover {
  background-color: black;
}

.card-white {
  background-color: rgb(239, 234, 226);
  padding: 3px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 4px 6px rgba(0, 0, 0, 0.07);
}

.img-circle {
  border-radius: 50%;
}

@media (max-width: 531px) {
  .container {
    width: 450px;
  }
  .img-circle {
    width: 350px;
  }
}
